<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <title>Billing</title>
</head>

<body>
    <div class="heading">
        <h1>Billing</h1>
    </div>
    <section class="left">
        <div style="width: 100%; text-align: center; color: red;">{{errorcode}}</div>
        <ul class="row">
            <li>Code</li>
            <li>Item</li>
        </ul>
        <ul class="input">
            <li>
                <form action="/code/" method="POST">
                    <input type="text" name="code" placeholder="Enter code" class="forminput">
                </form>
            </li>
            <li>Enter Item code</li>
        </ul>
        <ul class="row">
            <li>Quality</li>
            <li>Quantity</li>
            <li>Price</li>
        </ul>
        <ul class="input">
            <li style="font-size: 80%;">Enter Item code</li>
            <li style="font-size: 80%;">Enter Item code</li>
            <li style="font-size: 80%;">Enter Item code</li>
        </ul>
        <ul class="buttons">
            <li>
                <form action="/" class="cancelbutton" alt="cancel">
                    <input type="submit" value="X">
                </form>
            </li>
        </ul>
    </section>
    {% extends "common.html" %}
</body>

</html>