<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <title>Billing</title>
</head>

<body>
    <div class="heading">
        <h1>Billing</h1>
    </div>
    <section class="left">

        <ul class="row">
            <li>Code</li>
            <li>Item</li>
        </ul>
        <ul class="input">
            <li>{{code}}</li>
            <li>{{itemname}}</li>
        </ul>
        <ul class="row">
            <li>Quality</li>
            <li>Quantity</li>
            <li>Price</li>
        </ul>
        <ul class="input">
            <li style="font-size: 80%;">
                <form action="/quality/" method="POST">
                    <select name="quality" onchange='this.form.submit()' class="dropdown" style="border-radius: 5px; font-size: 20px;">
                        <option value="" disabled selected style="text-align: center;">Choose</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </form>
            </li>
            <li style="font-size: 80%;">Select Quality</li>
            <li style="font-size: 80%;">Select Quality</li>
        </ul>
        <ul class="buttons">
            <li>
                <form action="/" class="cancelbutton">
                    <input type="submit" value="X">
                </form>
            </li>
        </ul>

    </section>


    {% extends "common.html" %}
</body>

</html>